// Globals
$border-radius-root: 0;
$font-size-root: 14px;
$line-height-root: 1.6;
$btn-font-weight: 400;
$btn-font-sizes: ("default": 1.6rem,
  "large": 2rem);
$material-light: ("cards": transparent);
$material-dark: ("cards": #bf493c,
  "text": ("primary": white),
  "toggle-buttons": ("color": white),
  "text-color": black);

//$material-light: map-merge($material-light, $new-colors);

$grid-breakpoints: ("xs": 0px,
  "sm": 415px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px);