// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$border-radius-root: 0;
$line-height-root: 1.6;
$btn-font-weight: 400;
$card-text-font-size: 1em;
$card-text-line-height:1.6;
$btn-font-sizes: ("default": 1.6rem,
  "large": 2rem,
);
$material-light: ("app-bar": white, 
  "background": rgba(#fff, .6)
);
$material-dark: ("app-bar": transparent,
  "background": transparent,
  "text": ("primary": white,
    "link": white,
  ),
  "toggle-buttons": ("color": white,
  ),
  "text-color": black,
);

//$material-light: map-merge($material-light, $new-colors);

$grid-breakpoints: ("xs": 0px,
  "sm": 415px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px,
);



// @import '~vuetify/src/styles/main.sass';
@import './main.scss';
